<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/navbar') %>

    <main >
      <%- body %>
    </main>
  </body>
</html>